{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% if current_user.is_authenticated %}
<p>Здравствуйте, {{ current_user.name }}</p>
{% else %}
<p>Войдите на платформу через страницу /login</p>
{% endif %}

<div class="item-container">
    {% for item in items %}
        {% if loop.index % 3 == 1 %}
            <div class="row">  <!-- Начало новой строки -->
        {% endif %}

        <div class="item">  <!-- Элемент -->
            <a href="notebook/{{ item.id }}">{{ item.model }}</a>
            <p>{{ item.company }}</p>
            <b>{{ item.price }}</b>
        </div>

        {% if loop.index % 3 == 0 or loop.last %}
            </div>  <!-- Конец строки -->
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
