{% extends "base.html" %}

{% block content %}
<div class="login-container">
    <h2>Вход в аккаунт</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-group">
            {{ form.hidden_tag() }}
            {{ form.email.label(for="email") }}<br>
            {{ form.email(type="email", id="email", class="form-control", placeholder="Введите ваш email") }}<br>
        </div>
        <div class="form-group">
            {{ form.password.label(for="password") }}<br>
            {{ form.password(type="password", id="password", class="form-control",  placeholder="Введите ваш пароль") }}<br>
        </div>
        <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LfTle8qAAAAAEDmrvrsjVkNClyDNl7-p6m1OzDU"></div>
        </div>
        <div class="form-group">
            {{ form.submit(type="submit", class="btn") }}
        </div>
    </form>

    <div class="login-footer">
        <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
        <p><a href="#">Забыли пароль?</a></p>
    </div>
</div>

<script>
    // Плавная прокрутка для якорных ссылок
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();

            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    });
    window.addEventListener('load', () => {
        const $recaptcha = document.querySelector('#g-recaptcha-response');
        if ($recaptcha) {
            $recaptcha.setAttribute('required', 'required');
        }
    })
</script>
{% endblock %}